<button type="@Type"
        class="@CssClass"
        disabled="@Disabled"
        aria-label="@EffectiveAriaLabel"
        @onclick="OnClick"
        @attributes="AdditionalAttributes">
    @if (!string.IsNullOrWhiteSpace(Icon))
    {
        <i class="@Icon" aria-hidden="true"></i>
    }
    @if (ChildContent is not null)
    {
        @ChildContent
    }
    else
    {
        @Text
    }
</button>
