@using Blazorise
@using ClimateExplorer.Core.Model

<div class="@("collapsible-panel " + (ContentLayoutType == CollapserContentLayoutTypes.Block 
                                                                ? "block-layout" 
                                                                : (ContentLayoutType == CollapserContentLayoutTypes.FlexboxColumns 
                                                                    ? "flexbox-column-layout" 
                                                                    : "flexbox-row-layout")) + (NoBottomMargin ? " no-bottom-margin" : ""))">
    @if (AllowCollapse)
    {
        <span class="collapser @(CollapserSize.ToString().ToLower()) @(ShowContent ? "content-shown" : "content-hidden") @(Title != null ? "titled" : "untitled")">
            <span @onclick="CollapserOnClick">
                @if (ShowContent)
                {
                    <span class="oi oi-chevron-bottom @(CollapserSize.ToString().ToLower())" aria-hidden="true"></span>
                }
                else
                {
                    <span class="oi oi-chevron-right @(CollapserSize.ToString().ToLower())" aria-hidden="true"></span>
                }

                @if (ShowTitleWhenExpanded || !ShowContent)
                {
                    <span class="title">
                        @Title
                        @if (FullTitle != null && Title != FullTitle)
                        {
                            <span class="tooltip-content">
                                @FullTitle
                            </span>
                        }
                    </span>
                }
            </span>
        </span>
        if (CollapsedContent != null)
        {
            <span>
                @CollapsedContent
            </span>
        }
    }

    @if (ShowContent)
    {
        <div class="@((ShadeBackground ? "collapsible-with-background " : " ") + (ContentLayoutType == CollapserContentLayoutTypes.Block ? "block-layout" : "flexbox-column-layout"))">
            @Content
        </div>
    }
</div>

