@using Blazorise
@using System.Text.RegularExpressions

<Tooltip Text="@(Tooltip == null ? Title : Tooltip)" Style="display: inline-block" Multiline="true">
    <div class="overview-field @(PopupContent != null || OnClick.HasDelegate ? "is-clickable" : "")" @onclick="HandleClick">
        <div class="label">@Label</div>
        <div class="value">
            @if (PopupContent != null || OnClick.HasDelegate)
            {
                <a class="popup-link">@Value</a>
            }
            else
            {
                @Value
            }
        </div>
        <div class="additional-info">@AdditionalInfo</div>
    </div>
</Tooltip>

@if (PopupContent != null)
{
    <Modal @ref="popup" Closing="@OnModalClosing" Size="ModalSize.Large">
        <ModalContent>
            <ModalHeader Class="custom-modal-header">
                <ModalTitle>
                    @(string.IsNullOrWhiteSpace(PopupTitle) ? Label : PopupTitle)
                </ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                @if (popupContentVisible)
                {
                    @PopupContent
                }
            </ModalBody>
        </ModalContent>
    </Modal>
}

