@using Blazorise
@using ClimateExplorer.Core.Model;
@using CurrentDevice;
@using DPBlazorMapLibrary;

<div class="mapContainer collapsed" id="mapContainer">
    @if (mapOptions != null)
    {
        <DPBlazorMapLibrary.Map @ref="map" MapOptions="@mapOptions" AfterRender="@AfterMapRender"></DPBlazorMapLibrary.Map>
    }

    <div class="@(IsMapExpanded ? "mapToggleExpanded" : "mapToggleCollapsed")">
        @if (IsMapExpanded)
        {
            <ClimateButton Text="Collapse" Icon="fas fa-compress" Class="map-toggle-button" Disabled="Locations is null" OnClick="CollapseMap" style="@(map is null ? "visibility: hidden" : null)" />
        }
        else
        {
            <ClimateButton Text="Expand" Icon="fas fa-expand" Class="map-toggle-button" Disabled="Locations is null" OnClick="ExpandMap" style="@(map is null ? "visibility: hidden" : null)" />
        }
    </div>
</div>
