@using Blazorise
@using ClimateExplorer.Core.Model;
@using CurrentDevice;
@using DPBlazorMapLibrary;

<div class="mapContainer collapsed" id="mapContainer">
    @if (mapOptions != null)
    {
        <DPBlazorMapLibrary.Map @ref="map" MapOptions="@mapOptions" AfterRender="@AfterMapRender"></DPBlazorMapLibrary.Map>
    }

    <div class="@(IsMapExpanded ? "mapToggleExpanded" : "mapToggleCollapsed")">
        @if (IsMapExpanded)
        {
            <Button Clicked="@CollapseMap" Class="map-toggle-button" Disabled="Locations is null" Visibility="map is null ? Visibility.Invisible : Visibility.Visible">
                <span><i class="fas fa-compress"></i> Collapse</span>
            </Button>
        }
        else
        {
            <Button Clicked="@ExpandMap" Class="map-toggle-button" Disabled="Locations is null" Visibility="map is null ? Visibility.Invisible : Visibility.Visible">
                <span><i class="fas fa-expand"></i> Expand</span>
            </Button>
        }
    </div>
</div>