@page "/fetchdata"
@using Blazorise
@using Blazorise.Components

<PageTitle>Autocomplete test</PageTitle>

<h1>Autocomplete test</h1>


<Column ColumnSize="ColumnSize.Is3">
    <Autocomplete TItem="short"
            TValue="short"
            Data="@DataYears"
            TextField="@((item) => item.ToString())"
            ValueField="@((item) => item)"
            Placeholder="Search..."
            Multiple
            SelectedValuesChanged="@OnSelectedValuesChanged"
            SelectedValues="@SelectedYears"
            SelectedTexts="@multipleSelectionTexts"
            Filter="AutocompleteFilter.StartsWith">
        <NotFoundContent>@context was not found</NotFoundContent>
    </Autocomplete>
</Column>

<Field Horizontal="true">
    <FieldBody ColumnSize="ColumnSize.Is12">
        Selected Values: @string.Join(',', SelectedYears)
    </FieldBody>
</Field>

@code {
    List<short> DataYears { get; set; }
    List<short> SelectedYears;
    List<string> multipleSelectionTexts = new();

    async Task OnSelectedValuesChanged(List<short> values)
    {
        var validValues = new List<short>();
        foreach (var value in values)
        {
            if (DataYears.Any(x => x == value))
            {
                validValues.Add(value);
            }
        }
        SelectedYears = validValues;
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnInitializedAsync()
    {
        DataYears = new List<short> { 1930, 1931 };
        
        SelectedYears = new List<short> { 1930 };
    }
}
