@page "/heatmap"



<PageTitle>Heatmap</PageTitle>

@if (dataSet != null)
{
    <table style="text-align: center;">
        <colgroup>
            <col span="1" style="background-color: #D6EEEE; margin-right: 5px" />
        </colgroup>
        <tbody>
        @foreach(var bin in dataSet.BinDefinitions.OrderByDescending(x => x.Max))
        {
            <tr>
                <td class="bin">
                    @bin.Name
                </td>
                @foreach(var binGroup in binGroups.Where(x => x.Key == bin.Name))
                {
                    @foreach(var dataRecord in binGroup)
                    {
                        <td title="@dataRecord.Value, @bin.Name" style="background-color: @GenerateColour(bin.Index, dataRecord.Value);" />
                    }
                }
            </tr>
        }
        <tr>
            <td></td>
            @foreach(var year in dataSet.DataRecords.GroupBy(x => x.Year))
            {
                    
                <td style="transform: translate(0, 5px) rotate(-45deg); font-size: x-small;">
                    @*@if ((float)year.Key % 5 == 0)*@
                    
                        @year.Key
                    
                </td>
            }
            </tr>
        </tbody>
    </table>
    <style>
    td.bin { text-align: left; min-width: 130px;}
    </style>
}