@using ClimateExplorer.Core.Calculators
@using ClimateExplorer.Core.Model

<p>The precipitation anomaly is the difference between the average of the last 30 years of precipitation compared with the average of the first half of the dataset. 30 years was chosen to fit the convention of the <a href="https://en.wikipedia.org/wiki/Climatological_normal" target="_blank">climatological normal</a>. The first half of the dataset is used as a proxy for a natural baseline.</p>
@if (CalculatedAnomaly is not null)
{
    <p>For example:</p>
    <ul>
        <li>
            In the last 30 years of records at <strong>@Location?.Name</strong> (the years @CalculatedAnomaly.FirstYearInLast30Years-@CalculatedAnomaly.LastYearInLast30Years) the average precipitation was <strong>@string.Format("{0:0.00}", CalculatedAnomaly.AverageOfLast30Years)mm</strong>.
        </li>
        <li>
            The first half of the records at <strong>@Location?.Name</strong> (the years @CalculatedAnomaly.FirstYearInFirstHalf-@CalculatedAnomaly.LastYearInFirstHalf, @CalculatedAnomaly.CountOfFirstHalf years in total) the average precipitation was <strong>@string.Format("{0:0.00}", CalculatedAnomaly.AverageOfFirstHalf)mm</strong>.
        </li>
        <li>
            The difference is <strong>@AnomalyAsString</strong> (after rounding to 1 decimal place).
        </li>
    </ul>
}

<p>A minimum of 60 years of data is required to calculate a precipitation anomaly.</p>

@code
{
    [Parameter]
    public Location? Location { get; set; }

    [Parameter]
    public CalculatedAnomaly? CalculatedAnomaly { get; set; }

    string? AnomalyAsString { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AnomalyAsString = CalculatedAnomaly.ValueAsString("mm");
    }
}