@using ClimateExplorer.Core.Calculators
@using ClimateExplorer.Core.Model

<p>The warming anomaly is the temperature difference between the average of the last 30 years of temperatures compared with the average of the first half of the dataset. 30 years was chosen to fit the convention of the <a href="https://en.wikipedia.org/wiki/Climatological_normal" target="_blank">climatological normal</a>. The first half of the dataset is used as a proxy for a natural baseline; it is expected to be less affected by anthropogenic warming.</p>
@if (CalculatedAnomaly is not null)
{
    <p>For example:</p>
    <ul>
        <li>
            In the last 30 years of records at <strong>@Location?.Name</strong> (the years @CalculatedAnomaly.FirstYearInLast30Years-@CalculatedAnomaly.LastYearInLast30Years) the average temperature was <strong>@string.Format("{0:0.00}", CalculatedAnomaly.AverageOfLast30Years)°C</strong>.
        </li>
        <li>
            The first half of the records at <strong>@Location?.Name</strong> (the years @CalculatedAnomaly.FirstYearInFirstHalf-@CalculatedAnomaly.LastYearInFirstHalf, @CalculatedAnomaly.CountOfFirstHalf years in total) the average temperature was <strong>@string.Format("{0:0.00}", CalculatedAnomaly.AverageOfFirstHalf)°C</strong>.
        </li>
        <li>
            The difference is <strong>@WarmingAnomalyAsString</strong> (after rounding to 1 decimal place).
        </li>
    </ul>
}

<p>Over the long-term, with no external influences, we'd expect the warming anomaly to trend towards zero. A non-zero warming anomaly may indicate an effect of climate change. A positive warming anomaly may indicate global warming.</p>
<p>A minimum of 60 years of data is required to calculate a warming anomaly.</p>

@code {

    [Parameter]
    public Location? Location { get; set; }

    [Parameter]
    public CalculatedAnomaly? CalculatedAnomaly { get; set; }

    string? WarmingAnomalyAsString { get; set; }

    protected override async Task OnInitializedAsync()
    {
        WarmingAnomalyAsString = CalculatedAnomaly.ValueAsString();
    }
}
