@using ClimateExplorer.Web.Client.Components.Common
@using Blazorise
@using ClimateExplorer.Web.Client.Components.Info
@using ClimateExplorer.Web.UiModel
@using ClimateExplorer.Core.DataPreparation
@using static ClimateExplorer.Core.Enums

<div class="climate-stripe">
    @if (DataRecords != null)
    {
        foreach (var record in DataRecords)
        {
            <Tooltip Text="@GetTooltip(record)" Placement="TooltipPlacement.Bottom" Style="flex: 1; display: block; height: inherit">
                <div class="single-stripe" role="button" aria-label="@GetTooltip(record)" style="background-color: @GetColour(record.Relative); cursor: pointer; --label-colour: @GetLabelColour(record.Relative);" @onclick="() => FilterToYear(record.Year)">
                    <div class="label" style="border-color: @GetLabelColour(record.Relative)">
                        <div class="year">@record.Year</div>
                        <div class="rel">@GetRelativeValue(record)</div>
                        <div class="abs">@GetAbsoluteValue(record.Absolute)</div>
                    </div>
                </div>
            </Tooltip>
        }
        @if (ShowInfo)
        {
            <button class="info-icon-btn" aria-label="Show climate stripe information" @onclick=ShowClimateStripeInfo>
                <i class="fas fa-circle-info" aria-hidden="true"></i>
            </button>
        }
    }

    @if (ShowInfo)
    {
        <Modal @ref="popup" Size="ModalSize.Large">
            <ModalContent>
                <ModalHeader Class="custom-modal-header">
                    <ModalTitle>Climate stripe</ModalTitle>
                    <CloseButton />
                </ModalHeader>
                <ModalBody>
                    <ClimateStripeInfo LocationName="@LocationName" LocationMean="@LocationMean" UnitOfMeasure="@UnitOfMeasure" DataRecords="@DataRecords" />
                </ModalBody>
            </ModalContent>
        </Modal>
    }
</div>