@using Blazorise
@using ClimateExplorer.Web.Client.Components.Common

<div class="extreme-years @(DataRecords is null ? "extreme-years--loading" : string.Empty)">
    @if (DataRecords is not null)
    {
        <OverviewField Label="@FirstLabel">
            <Value>
                @foreach (var year in FirstList)
                {
                    <Tooltip Text="@GetTooltip(year)" Multiline="true" Style="display: inline"><span class="year-link" @onclick="() => FilterToYear(year)">@year</span></Tooltip><span>@(FirstList.IndexOf(year) < FirstList.Count - 1 ? ", " : string.Empty)</span>
                }
            </Value>
        </OverviewField>
        <OverviewField Label="@SecondLabel">
            <Value>
                @foreach (var year in SecondList)
                {
                    <Tooltip Text="@GetTooltip(year)" Multiline="true" Style="display: inline"><span class="year-link" @onclick="() => FilterToYear(year)">@year</span></Tooltip><span>@(SecondList.IndexOf(year) < SecondList.Count - 1 ? ", " : string.Empty)</span>
                }
            </Value>
        </OverviewField>
    }
</div>
