@using Blazorise
@using Blazorise.LoadingIndicator
@using ClimateExplorer.Core
@using ClimateExplorer.Core.Model
@using ClimateExplorer.Core.ViewModel
@using ClimateExplorer.Web.Client.Components.Common
@using ClimateExplorer.Web.Client.UiModel
@using ClimateExplorer.Web.UiModel
@using ClimateExplorer.Core.Calculators
@using ClimateExplorer.Core.DataPreparation
@using System.Globalization
@using ClimateExplorer.WebApiClient.Services
@using ClimateExplorer.Web.Client.Components.Info
@using ClimateExplorer.Web.Client.Components
@using static ClimateExplorer.Core.Enums

<Collapsible @ref="LocationCollapsible" Title="@Location?.Title" FullTitle="@Location?.FullTitle" OnShowOrHide="OverviewShowOrHideHandler" CollapserSize="Collapsible.CollapserSizes.ExtraLarge">
    <CollapsedContent>
        @if (!LocationLoadingIndicatorVisible)
        {
            <span class="chart-controls">
                <button class="chart-control" @onclick="() => ChangeLocationClicked(new EventArgs())"><i class="fas fa-map"></i> Change location</button>
                @if (LocationCollapsible!.ShowContent)
                {
                    <button class="chart-control" @onclick="() => TogglePrecipitation()"><i class="@( Precipitation ? "fas fa-check-square" : "fas fa-square" )"></i> Precipitation</button>
                }
            </span>
        }
    </CollapsedContent>
    <Content>
        <DelayedLoadingIndicator @bind-Visible="@LocationLoadingIndicatorVisible" ZIndex="5">
            @if (Location is not null)
            {
                <OverviewField Label="Location" Tooltip="Click to locate on Google Maps"><Value><a href="@LocationMapUrl" target="_blank">@GeoLocationAsString</a></Value></OverviewField>
            }
            @if (WarmingAnomalyAsString != null && WarmingAnomalyAsString != "NA")
            {
                <OverviewField Label="Warming anomaly" PopupContent="@WarmingAnomalyContent"><Value>@(WarmingAnomalyAsString == null ? "NA" : WarmingAnomalyAsString)</Value></OverviewField>
                <OverviewField Label="Heating score" PopupContent="@HeatingScoreContent"><Value>@(Location!.HeatingScore == null ? "NA" : Location.HeatingScore)</Value></OverviewField>
            }
            @if (Location?.RecordHigh != null)
            {
                <OverviewField Label="Record high" OnClick="@ShowRecordHighAsync" ToolTip="@RecordHighToolTip"><Value>@(Location?.RecordHigh == null ? "NA" : Location?.RecordHigh.Year)</Value></OverviewField>
            }
            @if (Precipitation && PrecipitationAnomalyAsString != null && PrecipitationAnomalyAsString != "NA")
            {
                <OverviewField Label="Precipitation anomaly" PopupContent="@PrecipitationAnomalyContent"><Value>@(PrecipitationAnomalyAsString == null ? "NA" : PrecipitationAnomalyAsString)</Value></OverviewField>
            }
        </DelayedLoadingIndicator>
        <div class="climate-stripe">
            <DelayedLoadingIndicator @bind-Visible="@StripeLoadingIndicatorVisible" ZIndex="5">
                <ClimateStripe UnitOfMeasure="UnitOfMeasure.DegreesCelsius" LocationName=@Location?.Name LocationMean=@TemperatureLocationMean DataRecords="@TemperatureAnomalyRecords" OnYearFilterChange="HandleOnYearFilterChange" ShowInfo="true" />
                <ExtremeYears HighLabel="Warmest years" LowLabel="Coolest years" DataRecords="@TemperatureAnomalyRecords" OnYearFilterChange="HandleOnYearFilterChange" />
                @if (Precipitation && PrecipitationLocationMean != null)
                {
                    <ClimateStripe UnitOfMeasure="UnitOfMeasure.Millimetres" LocationName=@Location?.Name LocationMean=@PrecipitationLocationMean DataRecords="@PrecipitationAnomalyRecords" OnYearFilterChange="HandleOnPrecipitationYearFilterChange" ShowInfo="false" />
                    <ExtremeYears HighLabel="Wettest years" LowLabel="Driest years" HighFirst="false" DataRecords="@PrecipitationAnomalyRecords" OnYearFilterChange="HandleOnPrecipitationYearFilterChange" />
                }
            </DelayedLoadingIndicator>
        </div>
    </Content>
</Collapsible>

<SidePanel @ref="climateRecordsSidePanel" Title="@("Climate records for " + Location?.Name)">    
    <ClimateRecords Location="@Location" DataSetDefinitions="@DataSetDefinitions" />
</SidePanel>