@using Blazorise

<!-- this div is necessary to get Blazor to apply a randomly-generated attribute to a DOM element so that CSS isolation will work & we can 
     style the navbar's inner elements https://github.com/Megabit/Blazorise/issues/1599 -->
<div>
    <Bar Breakpoint="Breakpoint.Desktop"
         Background="Background.Dark"
         ThemeContrast="ThemeContrast.Dark">
        <BarBrand>
            <BarLink To="">
                <div class="logo">
                    <img src="/logo-50.png" width="42" height="42" alt="ClimateExplorer" />
                </div>
            </BarLink>
        </BarBrand>
        <BarMenu>
            <BarStart>
                @foreach (var item in navItems)
                {
                    <BarItem>
                        <BarLink To="@item.Route" Class="@(IsCurrentPage(item.Route) ? "nav-current" : string.Empty)">@item.Text</BarLink>
                    </BarItem>
                }
                <BarItem>
                    <Dropdown>
                        <DropdownToggle Class="@("hamburger-toggle" + (IsHamburgerCurrentPage() ? " nav-current" : string.Empty))">
                            <i class="fas fa-bars"></i>
                        </DropdownToggle>
                        <DropdownMenu>
                            @foreach (var item in hamburgerItems)
                            {
                                <a class="@("dropdown-item" + (IsCurrentPage(item.Route) ? " hamburger-current" : string.Empty))" href="@item.Route">@item.Text</a>
                            }
                            @{
                                var uri = NavigationManager!.ToAbsoluteUri(NavigationManager.Uri);
                                if (NavigationManager.Uri == NavigationManager.BaseUri || IsLocal(uri.LocalPath))
                                {
                                    <div class="dropdown-divider"></div>
                                    <button class="dropdown-item info-menu-item" @onclick="() => SiteOverviewService!.RequestShow()">
                                        <i class="fas fa-circle-info"></i> site overview
                                    </button>
                                }
                            }
                        </DropdownMenu>
                    </Dropdown>
                </BarItem>
                </BarStart>
        </BarMenu>
    </Bar>
</div>
