@using ClimateExplorer.Visualiser.UiModel
@using Blazorise
@using Blazorise.Components
@using static ClimateExplorer.Core.Enums

<Modal @ref="modal">
    <ModalContent>
        <ModalHeader Background="Background.Light">
            <ModalTitle>
                @if (ChartSeries.SourceSeriesSpecifications.Length == 1)
                {
                    @ChartSeriesDefinition.BuildFriendlyTitleShortForSeries(ChartSeries.SourceSeriesSpecifications[0])
                }
                else
                {
                    <span>About this data</span>
                }
            </ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            @if (ChartSeries.SourceSeriesSpecifications.Length > 1)
            {
                <div class="derived-series-note">This is a derived series, calculated by subtracting one series from another to show the difference between the two.</div>
            }

            @foreach (var sss in ChartSeries.SourceSeriesSpecifications)
            {
                @if (ChartSeries.SourceSeriesSpecifications.Length > 1)
                {
                    <h4>@ChartSeriesDefinition.BuildFriendlyTitleShortForSeries(sss)</h4>
                }
                <div class="entry">
                    <div class="title">Dataset</div>
                    <div class="value">
                        <a href="@sss.DataSetDefinition.MoreInformationUrl" target="_blank">@sss.DataSetDefinition.Name</a>
                    
                        @if (sss.DataSetDefinition.Publisher != null)
                        {
                            <span> published by </span><a href="@sss.DataSetDefinition.PublisherUrl" target="_blank">@sss.DataSetDefinition.Publisher</a>
                        }
                    </div>
                </div>
                @if (sss.DataSetDefinition.Description != null)
                {
                    <div class="entry">
                        <div class="title">Dataset description</div>
                        <div class="value">@sss.DataSetDefinition.Description</div>
                    </div>
                }

                @switch (sss.MeasurementDefinition.DataType)
                {
                    case DataType.SolarRadiation:
                        <div class="entry">
                            <div class="title">Solar radiation</div>
                            <div class="value">
                                <a href="http://www.bom.gov.au/climate/austmaps/solar-radiation-glossary.shtml#globalexposure" target="_blank">Global exposure at BoM</a>
                                <blockquote>
                                    Global solar exposure is the total amount of solar energy falling on a horizontal surface. The daily global solar exposure is the total
                                    solar energy for a day. Typical values for daily global solar exposure range from 1 to 35 MJ/m2 (megajoules per square metre). The values
                                    are usually highest in clear sun conditions during the summer, and lowest during winter or very cloudy days.
                                </blockquote>
                            </div>
                        </div>

                        break;
                }
            }
        </ModalBody>
    </ModalContent>
</Modal>
@code {
    [Parameter]
    public ChartSeriesDefinition ChartSeries { get; set; }

    Modal? modal;

    public Task Show()
    {
        return modal.Show();
    }

}
