@using Blazorise
@using System.Text.RegularExpressions

<div class="overview-field" title="@title" onclick="@ShowPopup" style="@(string.IsNullOrWhiteSpace(PopupText) ? string.Empty : pointer )">
    <div class="label">@Label</div>
    <div class="value">
        @Value
    </div>
    <div class="additional-info">@AdditionalInfo</div>
</div>

@if (!string.IsNullOrWhiteSpace(PopupText))
{
    <Modal @ref="popup">
        <ModalContent Size="ModalSize.Large">
            <ModalHeader>
                <ModalTitle>@Label</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                @((MarkupString)PopupText)
            </ModalBody>
        </ModalContent>
    </Modal>
}

@code {
    string title
    {
        get
        {
            if (string.IsNullOrWhiteSpace(PopupText))
            {
                return string.Empty;
            }
            return Regex.Replace(PopupText, "<.*?>", String.Empty);
        }
    }

    const string pointer = "cursor: pointer;";

    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string AdditionalInfo { get; set; }

    [Parameter]
    public RenderFragment Value { get; set; }

    [Parameter]
    public string PopupText { get; set; }

    private Modal popup;
    private Task ShowPopup()
    {
        if (!string.IsNullOrWhiteSpace(PopupText))
        {
            return popup.Show();
        }
        return Task.CompletedTask;
    }
}
