@page "/"
@page "/location/"
@page "/location/{locationString}"
@implements IDisposable

@using Blazorise
@using Blazorise.Snackbar
@using ClimateExplorer.Core.DataPreparation
@using static ClimateExplorer.Web.UiModel.SuggestedPresetLists;
@using static ClimateExplorer.Web.Client.Shared.Collapsible;
@using ClimateExplorer.Web.Client.Shared
@using ClimateExplorer.Web.Client.Shared.LocationComponents;

@inherits ChartablePage

<PageTitle>@PageTitle</PageTitle>

<HeadContent>
    <meta property="og:title" content="@PageTitle" />
    <meta property="og:url" content="@PageUrl" />
    <link rel="canonical" href="@PageUrl" />
</HeadContent>

<SnackbarStack @ref="Snackbar" Location="SnackbarStackLocation.Top" Interval="20000" Multiline="true" />

<Collapsible @ref="suggestedChartsCollapsible" InitiallyShown="false" ShowTitleWhenExpanded="false" ContentLayoutType="CollapserContentLayoutTypes.FlexboxRow">
    <CollapsedContent>
        @if (!suggestedChartsCollapsible!.ShowContent)
        {
            if (IsMobileDevice == true)
            {
                <SuggestedCharts DataSetDefinitions="@DataSetDefinitions" SelectedLocation="@Location" OnChartPresetSelected="@OnChartPresetSelected" ExpandUpwards="false" PresetType="PresetTypes.MobileLocation" />
            }
            else
            {
                <SuggestedChartsMini DataSetDefinitions="@DataSetDefinitions" SelectedLocation="@Location" OnChartPresetSelected="@OnChartPresetSelected" OnClickCollapser="@suggestedChartsCollapsible.CollapserOnClick" />
            }
        }
    </CollapsedContent>
    <Content>
        <SuggestedCharts DataSetDefinitions="@DataSetDefinitions" SelectedLocation="@Location" OnChartPresetSelected="@OnChartPresetSelected" ExpandUpwards="false" PresetType="PresetTypes.Location" />
    </Content>
</Collapsible>

<div class="location-and-chart-container">
    <div style="position: relative;">
        <div class="map-space-reserver" id="mapContainerContainer">
            <MapContainer
                Locations="@LocationDictionary?.Values"
                OnLocationChange="@SelectedLocationChanged"
                Location="@Location" />
        </div>

        <div class="location-info-container">
            <LocationInfo Location="@Location"
                        DataSetDefinitions="@DataSetDefinitions"
                        RequestLocationChange="@ShowChangeLocationModal"
                        OnOverviewShowOrHide="@OnOverviewShowHide"
                        OnYearFilterChange="@HandleOnYearFilterChange" />
        </div>

        <div style="clear: both;"></div>
    </div>
    <p>@DateTime.Now</p>

    <ChartView @ref="ChartView"
               PageName="@PageName"
               DataSetDefinitions="@DataSetDefinitions"
               LocationDictionary="@LocationDictionary"
               Regions="@Regions"
               LocationId="@Location?.Id"
               ShowAddDataSetModalEvent="@ShowAddDataSetModal"
               DownloadDataEvent="@OnDownloadDataClicked"
               />
</div>

<ChangeLocation @ref="ChangeLocationModal"
                LocationDictionary="@LocationDictionary"
                SelectedLocation="@Location"
                OnLocationChange="@SelectedLocationChanged"
                BrowserLocationErrorMessage="@BrowserLocationErrorMessage" />

<Modal @ref="AddDataSetModal">
    <ModalContent>
        <ModalHeader Background="Background.Light">
            <ModalTitle>Add data set</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <DataSetBrowser DataSetDefinitions="@DataSetDefinitions" OnAddDataSet="@OnAddDataSet" CurrentLocation="@Location"></DataSetBrowser>
        </ModalBody>
    </ModalContent>
</Modal>