@page "/regionalandglobal"
@implements IDisposable

@using Blazorise
@using Blazorise.Snackbar
@using ClimateExplorer.Web.Client.Components
@using ClimateExplorer.Web.Client.Components.Chart
@using ClimateExplorer.Web.Client.Components.Common
@using ClimateExplorer.Web.Client.Services.Chart
@using static ClimateExplorer.Web.Client.Components.Common.Collapsible;
@using static ClimateExplorer.Web.UiModel.SuggestedPresetLists;

@inherits ChartablePage

<PageTitle>@PageTitle</PageTitle>

<HeadContent>
    <meta name="description" content="@PageDescription" />
    <meta property="og:title" content="@PageTitle" />
    <meta property="og:description" content="@PageDescription" />
    <meta property="og:url" content="@PageUrl" />
    <link rel="canonical" href="@PageUrl" />
</HeadContent>

<SnackbarStack @ref="SnackbarStack" Location="SnackbarStackLocation.Top" DefaultInterval="ChartablePage.SnackbarDisplayMs" TextAlignment="TextAlignment.Center" Class="snackbar-centre" />

<div style="flex-grow: 0">
    <Collapsible Title="Suggested charts" InitiallyShowContents="@(IsMobileDevice.HasValue ? !IsMobileDevice : null)" ShowTitleWhenExpanded="false" ContentLayoutType="CollapserContentLayoutTypes.FlexboxRow">
        <Content>
            <SuggestedCharts DataSetDefinitions="@DataSetDefinitions" OnChartPresetSelected="@OnChartPresetSelected" ExpandUpwards="false" PresetType="PresetTypes.RegionalAndGlobal"></SuggestedCharts>
        </Content>
    </Collapsible>
</div>

<div class="chart-container">
    <ChartView @ref="ChartView"
               PageName="@PageName"
               PageKind="ChartPageKind.RegionalAndGlobal"
               DataSetDefinitions="@DataSetDefinitions"
               Regions="@Regions"
               ShowAddDataSetModalEvent="@ShowAddDataSetModal"
               DownloadDataEvent="@OnDownloadDataClicked"
               SnackbarMessageEvent="@SnackbarMessageEventHandler" />
</div>

<Modal @ref="AddDataSetModal">
    <ModalContent>
        <ModalHeader Class="custom-modal-header">
            <ModalTitle>Add data set</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <DataSetBrowser DataSetDefinitions="@DataSetDefinitions" OnAddDataSet="@OnAddDataSet"></DataSetBrowser>
        </ModalBody>
    </ModalContent>
</Modal>
