@page "/regionalandglobal"
@implements IDisposable

@using Blazorise
@using ClimateExplorer.Web.Client.Shared
@using static ClimateExplorer.Web.Client.Shared.Collapsible;
@using static ClimateExplorer.Web.UiModel.SuggestedPresetLists;

@inherits ChartablePage

<PageTitle>@PageTitle</PageTitle>

<HeadContent>
    <meta property="og:title" content="@PageTitle" />
    <meta property="og:url" content="@PageUrl" />
    <link rel="canonical" href="@PageUrl" />
</HeadContent>

<div style="flex-grow: 0">
    <Collapsible Title="Suggested charts" InitiallyShown="true" ShowTitleWhenExpanded="false" ContentLayoutType="CollapserContentLayoutTypes.FlexboxRow">
        <Content>
            <SuggestedCharts DataSetDefinitions="@DataSetDefinitions" OnChartPresetSelected="@OnChartPresetSelected" ExpandUpwards="false" PresetType="PresetTypes.RegionalAndGlobal"></SuggestedCharts>
        </Content>
    </Collapsible>
</div>

<div class="chart-container">
    <ChartView @ref="ChartView"
               PageName="@PageName"
               LocalCharts="false"
               ShowAddDataSetModalEvent="@ShowAddDataSetModal"
               DownloadDataEvent="@OnDownloadDataClicked" />
</div>

<Modal @ref="AddDataSetModal">
    <ModalContent>
        <ModalHeader Background="Background.Light">
            <ModalTitle>Add data set</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <DataSetBrowser DataSetDefinitions="@DataSetDefinitions" OnAddDataSet="@OnAddDataSet"></DataSetBrowser>
        </ModalBody>
    </ModalContent>
</Modal>