@using Blazorise
@using ClimateExplorer.Web.Client.Shared.Info

<div class="aggregation-options-wrapper">
    <Dropdown>
        <DropdownToggle>
            <i class="fas fa-cog"></i> Aggregation options
        </DropdownToggle>
        <DropdownMenu>
            <div class="aggregation-options-content">
                <div class="section-header">
                    <span class="section-title">Options</span>
                    <i class="fas fa-circle-info info-icon" @onclick="ShowAggregationOptionsInfo"></i>
                </div>
                <div class="section-label">Grouping days</div>
                <div class="option-row">
                    <Select TValue="short" Value="@currentGroupingDays" ValueChanged="@OnSelectedGroupingDaysChanged">
                        <SelectItem Value="182">@GroupingDaysText(182)</SelectItem>
                        <SelectItem Value="91">@GroupingDaysText(91)</SelectItem>
                        <SelectItem Value="28">@GroupingDaysText(28)</SelectItem>
                        <SelectItem Value="14">@GroupingDaysText(14)</SelectItem>
                        <SelectItem Value="7">@GroupingDaysText(7)</SelectItem>
                    </Select>
                </div>
                <div class="section-label">Threshold (%)</div>
                <div class="option-row">
                    <TextInput Value="@thresholdText" ValueChanged="@OnThresholdTextChanged"
                               MaskType="MaskType.RegEx" EditMask="^[1-9][0-9]?$|^100$" MaxLength="3" />
                </div>
                <div class="option-row">
                    <Check TValue="bool" Value="@overridePresetThreshold" ValueChanged="@((bool v) => OnOverrideChanged(v))">Override preset threshold</Check>
                </div>
                <div class="option-row">
                    <Button Color="Color.Primary" Size="Size.Small" Clicked="@ResetThreshold" Disabled="@(!HaveOptionsChanged)">Reset</Button>
                </div>
            </div>
        </DropdownMenu>
    </Dropdown>
</div>

<InfoPanel @ref="aggregationOptionsInfoPanel" Title="Aggregation options information" Height="60vh">
    <AggregationOptionsInfo />
</InfoPanel>
