@using Blazorise
@using ClimateExplorer.Web.Client.Shared.Info

<Modal @ref="modal">
    <ModalContent>
        <ModalHeader Class="custom-modal-header">
            <ModalTitle>Aggregation options</ModalTitle>
            <div class="info-icon">
                <i class="fas fa-circle-info" @onclick=ShowAggregationOptionsInfo></i>
            </div>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <strong>Grouping days</strong>
                <Select TValue="short" Value="@currentGroupingDays" ValueChanged="@OnSelectedGroupingDaysChanged">
                    <SelectItem Value="182">@GroupingDaysText(182)</SelectItem>
                    <SelectItem Value="91">@GroupingDaysText(91)</SelectItem>
                    <SelectItem Value="28">@GroupingDaysText(28)</SelectItem>
                    <SelectItem Value="14">@GroupingDaysText(14)</SelectItem>
                    <SelectItem Value="7">@GroupingDaysText(7)</SelectItem>
                </Select>
            </Field>
            <Field>
                <strong>Threshold required to form a valid group (%)</strong>
                <TextInput Value="@thresholdText" ValueChanged="@OnThresholdTextChanged"
                            Disabled="@(PresetGroupingThreshold != null && !overridePresetThreshold)"
                            MaskType="MaskType.RegEx" EditMask="^[1-9][0-9]?$|^100$" MaxLength="3" />
            </Field>                
            <Field>
                <Check TValue="bool" Value="@overridePresetThreshold" ValueChanged="@((bool v) => OnOverrideChanged(v))">Override preset threshold</Check>
            </Field>
            <Field>
                <Text>
                    Current threshold is @GetCurrentThresholdDescription()
                </Text>
            </Field>
            @if (HasThresholdChanged)
            {
                <Field>
                    <Button Color="Color.Secondary" Size="Size.Small" Clicked="@ResetThreshold">Reset</Button>
                </Field>
            }
        </ModalBody>
    </ModalContent>
</Modal>

<InfoPanel @ref="aggregationOptionsInfoPanel" Title="Aggregation options information" Height="60vh">
    <AggregationOptionsInfo />
</InfoPanel>
