@using ClimateExplorer.Web.UiModel
@using Blazorise
@using Blazorise.Components
@using Blazorise.Charts

@if (ChartSeriesListInternal == null || ChartSeriesListInternal.Count == 0)
{
    <div class="no-datasets-active-message">No datasets active. Choose a chart preset or add a dataset.</div>
}
else
{
    @foreach (var cs in ChartSeriesListInternal)
    {
        <ChartSeriesView 
            @key="@cs.Id"
            ChartSeries="@cs" 
            OnSeriesChanged="@OnSeriesChangedInternal"
            OnDuplicateSeries="@OnDuplicateSeries"
            OnRemoveSeries="@OnRemoveSeries"
            />
    }
}

