@using Blazorise
@using Blazorise.Charts
@using Blazorise.Charts.Trendline
@using Blazorise.LoadingIndicator
@using ClimateExplorer.Core.DataPreparation;
@using ClimateExplorer.Web.Client.Shared.PopupContent

<LoadingIndicator @bind-visible="@ChartLoadingIndicatorVisible">
    <div class="chart-collapsible-parent">
        <Collapsible Title="Chart" InitiallyShown="true" AllowCollapse="false" ContentLayoutType="Collapsible.CollapserContentLayoutTypes.FlexboxColumns" NoBottomMargin="true">
            <Content>
                <div class="chart-and-controls">
                    <div class="chart-series-list-wrapper">
                        <ChartSeriesListView ChartSeriesList="ChartSeriesList" OnSeriesChanged="@BuildDataSets"></ChartSeriesListView>

                        <a class="add-series-button" @onclick="ShowAddDataSetModal">
                            <i class="fas fa-plus"></i> Add
                        </a>
                    </div>

                    <div class="chart-wrapper" @ref="chartWrapper">
                        <Chart @ref="chart" TItem="double?" Clicked="@OnLineChartClicked" Type="ChartType.Line">
                            <ChartTrendline @ref="chartTrendline" TItem="double?" />
                        </Chart>
                    </div>

                    <div class="chart-controls">
                        <a class="chart-control" @onclick="ChartAllDataToggle"><i class="@( ChartAllData ? "fas fa-check-square" : "fas fa-square" )"></i> Chart all data</a>

                        @if (!string.IsNullOrWhiteSpace(SelectedStartYear) || !string.IsNullOrWhiteSpace(SelectedEndYear))
                        {
                            <a class="chart-control" @onclick="OnClearFilter"><i class="fa-solid fa-filter-circle-xmark"></i> Clear filter</a>
                        }

                        <Dropdown>
                            <DropdownToggle>
                                <i class="fas fa-calendar"></i> Grouping
                            </DropdownToggle>
                            <DropdownMenu>
                                <DropdownItem Clicked="() => OnSelectedBinGranularityChanged(BinGranularities.ByYear)">Yearly</DropdownItem>
                                <DropdownItem Clicked="() => OnSelectedBinGranularityChanged(BinGranularities.ByMonthOnly)">Monthly</DropdownItem>
                                <DropdownItem Clicked="() => OnSelectedBinGranularityChanged(BinGranularities.ByDayOnly)">Daily</DropdownItem>
                            </DropdownMenu>
                        </Dropdown>

                        <ChartAxisListView Axes="CurrentAxes" ScaleToZero="AxesScaleToZero" OnChanged="@BuildDataSets" />

                        <a class="chart-control" @onclick="@(() => ShowOptionsModal())"><i class="fas fa-cog"></i> Aggregation options</a>

                        <div class="info-icon">
                            <i class="fas fa-circle-info" style="cursor: pointer;" @onclick=ShowChartOptionsInfo></i>
                        </div>

                        <a class="chart-control chart-control-download" @onclick="OnDownloadDataClicked"><i class="fas fa-download"></i> Download</a>
                    </div>
                </div>
            </Content>
        </Collapsible>
    </div>
</LoadingIndicator>

<AggregationOptionsModal @ref="aggregationOptionsModal"
    PresetGroupingThreshold="@(ChartSeriesList?.FirstOrDefault()?.GroupingThreshold)"
    OnChanged="@((s) => OnAggregationSettingsChanged(s))" />

<InfoPanel @ref="chartOptionsInfoPanel" Title="Chart options information" Height="60vh">
    <ChartOptionsInfo />
</InfoPanel>