@using ClimateExplorer.Core.Model;
@using ClimateExplorer.Core.ViewModel
@using ClimateExplorer.Web.UiModel
@using Blazorise
@using Blazorise.Components
@using Blazorise.Charts
@using ClimateExplorer.Core.DataPreparation
@using static ClimateExplorer.Web.UiModel.SuggestedPresetLists;
@using static ClimateExplorer.Core.Enums

<div class="suggested-data-set-list">
    @if (SuggestedPresets != null)
    {
        foreach (var s in SuggestedPresets)
        {
            @if (s.MenuExpanded)
            {
                <div class="modal-underlay" @onclick="() => s.MenuExpanded = false"></div>
            }

            <div class="@CalculateClassForSuggestedDataSetElement(s)">
                <div class="main" @onclick="() => OnChartPresetSelected.InvokeAsync(s)">
                    <div class="title">@s.Title</div>
                    <div class="description">@s.Description</div>
                    @if (s.MissingChartSeries)
                    {
                        <div class="missing-chart-series"><i class="fas fa-info-circle"></i> Some data not available</div>
                    }
                </div>

                @if (s.Variants != null && s.Variants.Count > 0)
                {
                    <div class="expander" @onclick="() => s.MenuExpanded = !s.MenuExpanded">
                        <span class="oi oi-chevron-bottom" aria-hidden="true"></span>
                    </div>
                }

                @if (s.MenuExpanded)
                {
                    <div class="menu">
                        @if (s.Variants != null)
                        {
                            foreach (var v in s.Variants)
                            {
                                <div class="main" @onclick="() => OnChartPresetSelected.InvokeAsync(v)">
                                    <div class="title">@v.Title</div>
                                    <div class="description">@v.Description</div>
                                    @if (v.MissingChartSeries)
                                    {
                                        <div class="missing-chart-series"><i class="fas fa-info-circle"></i> Some data not available</div>
                                    }
                                </div>
                            }
                        }
                    </div>
                }
            </div>
        }
    }
</div>

