﻿@using Blazorise
@using Blazorise.Components
@using static ClimateExplorer.Core.Enums
@using ClimateExplorer.Core.DataPreparation

<Modal @ref="filterModal">
    <ModalContent>
        <ModalHeader Background="Background.Light">
            <ModalTitle>Year filtering</ModalTitle>
            <div class="info-icon">
                <i class="fas fa-circle-info" style="cursor: pointer;" @onclick=ShowYearFilteringInfo></i>
            </div>
            <CloseButton />
        </ModalHeader>
        <ModalBody>

            <Field>
                <Check TValue="bool?" Checked="ShowRangeSlider" CheckedChanged="ShowRangeSliderChanged">Show range slider</Check>
            </Field>

            <Field>
                <FieldLabel>
                    Start year
                </FieldLabel>
                <RadioGroup TValue="ChartStartYears?" CheckedValue="@ChartStartYear" CheckedValueChanged="@DynamicStartYearChanged" Orientation="Orientation.Vertical">
                    <Radio TValue="ChartStartYears?" Value="@(ChartStartYears.FirstYear)">First start year in the data</Radio>
                    <Radio TValue="ChartStartYears?" Value="@(ChartStartYears.LastYear)">Last start year in the data</Radio>
                </RadioGroup>
            </Field>
            <Field>
                <FieldLabel>
                    Or enter a custom start year:
                </FieldLabel>
                <Validation Validator="ValidateYear">
                    <TextEdit Text="@SelectedStartYearInternal" MaskType="MaskType.RegEx" EditMask="^[\d]*$" MaxLength="4" TextChanged="OnStartYearTextChangedInternal">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </TextEdit>
                </Validation>
            </Field>
            <Field>
                <FieldLabel>
                    End year
                </FieldLabel>
                <Validation Validator="ValidateYear">
                    <TextEdit Text="@SelectedEndYearInternal" MaskType="MaskType.RegEx" EditMask="^[\d]*$" MaxLength="4" TextChanged="OnEndYearTextChangedInternal" />
                </Validation>
            </Field>

            @if (PopupText != null)
            {
                <Modal @ref="infoModal">
                    <ModalContent Size="ModalSize.Large">
                        <ModalHeader>
                            <ModalTitle>Year filtering information</ModalTitle>
                            <CloseButton />
                        </ModalHeader>
                        <ModalBody>
                            @((MarkupString)PopupText)
                        </ModalBody>
                    </ModalContent>
                </Modal>
            }

        </ModalBody>
    </ModalContent>
</Modal>