@page "/"
@page "/location/"
@page "/location/{locationId}"
@implements IDisposable

@using Blazorise
@using Blazorise.Snackbar
@using ClimateExplorer.Core.DataPreparation
@using static ClimateExplorer.Visualiser.UiModel.SuggestedPresetLists;
@using static ClimateExplorer.Visualiser.Client.Shared.Collapsible;
@using ClimateExplorer.Visualiser.Client.Shared.LocationComponents;

@inherits ChartablePage

<PageTitle>@GetPageTitle()</PageTitle>

<SnackbarStack @ref="snackbar" Location="SnackbarStackLocation.Top" Interval="20000" Multiline="true" />

<div style="flex-grow: 0">
    <Collapsible Title="Suggested charts" InitiallyShown="false" ShowTitleWhenExpanded="false" ContentLayoutType="CollapserContentLayoutTypes.FlexboxRow">
        <Content>
            <SuggestedCharts DataSetDefinitions="@DataSetDefinitions" SelectedLocation="@SelectedLocation" OnChartPresetSelected="@OnChartPresetSelected" ExpandUpwards="false" PresetType="PresetTypes.Location"></SuggestedCharts>
        </Content>
    </Collapsible>
</div>

<div class="location-and-chart-container">
    <div style="position: relative;">
        <div class="map-space-reserver" id="mapContainerContainer">
            <MapContainer @ref="mapContainer"
                Locations="@Locations"
                OnLocationChange="@SelectedLocationChanged"
                LocationCoordinates="@LocationCoordinates"></MapContainer>
        </div>

        <div class="location-info-container">
            <LocationInfo
                        Location="@SelectedLocation"
                        DataSetDefinitions="@DataSetDefinitions"
                        RequestLocationChange="@ShowChangeLocationModal"
                        OnOverviewShowOrHide="@OnOverviewShowHide"
                        OnYearFilterChange="@HandleOnYearFilterChange" />
        </div>

        <div style="clear: both;"></div>
    </div>

    <ChartView @ref="chartView"
               BuildDataSetsEvent="@BuildDataSets"
               ShowAddDataSetModalEvent="@ShowAddDataSetModal"
               DownloadDataEvent="@OnDownloadDataClicked" />
</div>

<ChangeLocation @ref="changeLocationModal"
                Locations="@Locations"
                SelectedLocation="@SelectedLocation"
                OnLocationChange="@SelectedLocationChanged"
                SetCurrentLocation=@SetCurrentLocation
                BrowserLocationErrorMessage=@BrowserLocationErrorMessage />

<Modal @ref="addDataSetModal">
    <ModalContent>
        <ModalHeader Background="Background.Light">
            <ModalTitle>Add data set</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <DataSetBrowser DataSetDefinitions="@DataSetDefinitions" OnAddDataSet="@OnAddDataSet" CurrentLocation="@SelectedLocation" PreviousLocation="@PreviousLocation"></DataSetBrowser>
        </ModalBody>
    </ModalContent>
</Modal>